@import 'tailwindcss';

@theme {
  --breakpoint-xs: 30rem;

  --animate-fade-in: fadeIn 300ms ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
}

:root {
  height: 100%;

  overflow-x: hidden;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

  background-color: #171717;
}

*,
::after,
::before {
  box-sizing: border-box;
}
