@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
}
